@import url("../node_modules/normalize.css/normalize.css");
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");
body, html {
  background: #f0f0f0;
  font-family: "Open Sans", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
  font-weight: 400;
  color: #777777;
  letter-spacing: 0.02rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none; }

a {
  color: #777777;
  text-decoration: none; }
  a:hover {
    color: #3d3d3d;
    text-decoration: none;
    cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  color: #3d3d3d;
  font-weight: 400; }
  h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    color: black; }

hr {
  border-color: #a9a9a9;
  opacity: .4; }

@media (min-width: 769px) {
  .col-md-3 {
    width: 26%; }

  .col-md-9 {
    width: 74%; }

  .col-md-offset-3 {
    margin-left: 26%; } }
.tags, .tags a {
  font-size: 1rem;
  color: #a9a9a9; }
.tags a:hover {
  color: #777777; }

.sidebar {
  color: #f0f0f0; }
  .sidebar, .sidebar .sidebar-bg {
    position: fixed;
    height: 100%;
    max-width: 35%;
    overflow: hidden;
    padding: 0; }
  .sidebar .sidebar-bg {
    background: url("../side1.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;
    width: 26%; }
  .sidebar .personal-info-wrapper {
    float: right;
    min-width: 161px;
    margin-right: 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.05rem; }
    .sidebar .personal-info-wrapper .personal-info {
      position: fixed;
      bottom: 3rem; }
      .sidebar .personal-info-wrapper .personal-info .avatar {
        border-radius: 50%;
        border: 2px solid white;
        width: 10rem;
        height: 10rem;
        background: url("../avatar.jpg") center no-repeat;
        background-size: cover;
        float: right;
        margin-bottom: 1rem; }
      .sidebar .personal-info-wrapper .personal-info .total-post {
        float: right;
        color: #f0f0f0;
        border-bottom: 1px solid #f0f0f0; }
        .sidebar .personal-info-wrapper .personal-info .total-post:hover {
          color: white;
          border-color: white; }

.main {
  background: #f0f0f0;
  padding: 0 5rem 1rem 5rem; }
  .main .main-wrapper {
    width: 90%;
    margin: 0 auto; }
  .main header {
    margin-top: 3rem;
    font-weight: 300;
    letter-spacing: .15rem;
    font-size: 2rem; }
    .main header .left-top {
      float: left; }
    .main header .sidebar-op {
      cursor: pointer; }
      .main header .sidebar-op:hover {
        color: #3d3d3d; }
      .main header .sidebar-op i {
        font-size: 1.5em; }
    .main header .site-name-op {
      display: none; }
    .main header #nav {
      float: right; }
  .main .content {
    padding-top: 6rem;
    margin-bottom: 5rem; }
    .main .content .blog-content {
      margin-right: 2.8rem;
      padding-left: 0;
      padding-right: 0; }
      .main .content .blog-content article .article-head {
        margin: 1.5rem 0 3rem 0; }
        .main .content .blog-content article .article-head h3 {
          display: inline-block;
          margin: 0;
          max-width: 80%; }
        .main .content .blog-content article .article-head a {
          font-size: 2.2rem;
          color: #3d3d3d; }
          .main .content .blog-content article .article-head a:hover {
            color: black; }
      .main .content .blog-content article p {
        padding-bottom: 2.5rem;
        font-size: 1.5rem;
        max-width: 80%; }
      .main .content .blog-content article .tags {
        max-width: 80%; }
      .main .content .blog-content article hr {
        margin: 3rem 0 3rem 0; }
      .main .content .blog-content .date {
        color: #a9a9a9;
        font-size: 1.2rem;
        float: right; }
  .main .index-nav {
    margin-bottom: 12rem;
    font-size: 1.8rem; }
    .main .index-nav .prev {
      float: left; }
      .main .index-nav .prev i {
        font-weight: 800; }
    .main .index-nav .next {
      float: right; }
      .main .index-nav .next i {
        font-weight: 800; }
  .main footer {
    float: left;
    color: #a9a9a9;
    font-size: 1rem;
    margin-bottom: 1rem; }
    .main footer a:hover {
      text-decoration: underline; }

@media (max-width: 768px) {
  .main header .sidebar-op {
    display: none; }

  #site-name {
    display: block; }

  .wrapper .sidebar .sidebar-bg {
    width: 0; } }
@media (max-width: 412px) {
  .index-date {
    display: none; }

  .wrapper .main {
    padding-left: 0;
    padding-right: 0; }

  .main .content .blog-content {
    margin-right: 0; }
    .main .content .blog-content article .article-head h3, .main .content .blog-content article p {
      max-width: 100%; } }

/*# sourceMappingURL=main.css.map */
