@import "base";

.sidebar {
  color: $background-color;

  &, .sidebar-bg {
    position: fixed;
    height: 100%;
    max-width: 35%;
    overflow: hidden;
    padding: 0;
  }

  .sidebar-bg {
    background: url("../side1.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;
    width: 26%; // equal to the width of col-md-3
  }

  .personal-info-wrapper {
    float: right;
    min-width: 161px;
    margin-right: 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;

    .personal-info {
      position: fixed;
      bottom: 3rem;

      .avatar {
        border-radius: 50%;
        border: 2px solid white;
        width: 10rem;
        height: 10rem;
        background: url("../avatar.jpg") center no-repeat;
        background-size: cover;
        float: right;
        margin-bottom: 1rem;
      }

      .total-post {
        float: right;
        color: $background-color;
        border-bottom: 1px solid $background-color;

        &:hover {
          color: white;
          border-color: white;
        }
      }
    }
  }
}

.main {
  background: $background-color;
  padding: 0 5rem 1rem 5rem;

  .main-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  header {
    margin-top: 3rem;
    font-weight: 300;
    letter-spacing: .15rem;
    font-size: 2rem;

    .left-top {
      float: left;
    }

    .sidebar-op {
      cursor: pointer;

      &:hover {
        color: $deep-grey;
      }

      i {
        font-size: 1.5em;
      }
    }

    .site-name-op {
      display: none;
    }

    #nav {
      float: right;
    }
  }

  .content {
    padding-top: 6rem;
    margin-bottom: 5rem;


    .blog-content {
      margin-right: 2.8rem;
      padding-left: 0;
      padding-right: 0;

      article {
        .article-head {
          margin: 1.5rem 0 3rem 0;

          h3 {
            display: inline-block;
            margin: 0;
            max-width: 80%;
          }

          a {
            font-size: 2.2rem;
            color: $deep-grey;

            &:hover {
              color: black;
            }
          }
        }

        p {
          padding-bottom: 2.5rem;
          font-size: 1.5rem;
          max-width: 80%;
        }

        .tags {
          max-width: 80%;
        }

        hr {
          margin: 3rem 0 3rem 0;
        }
      }



      .date {
        color: $shallow-grey;
        font-size: 1.2rem;
        float: right;
      }
    }
  }

  .index-nav {
    margin-bottom: 12rem;
    font-size: 1.8rem;

    .prev {
      float: left;

      i {
        font-weight: 800;
      }
    }

    .next {
      float: right;

      i {
        font-weight: 800;
      }
    }
  }

  footer {
    float: left;
    color: $shallow-grey;
    font-size: 1rem;
    margin-bottom: 1rem;

    a:hover {
      text-decoration: underline;
    }
  }
}

// Responsive for iPad size devices
@media (max-width: 768px) {
  .main header .sidebar-op {
    display: none;
  }

  #site-name {
    display: block;
  }

  .wrapper .sidebar .sidebar-bg {
    width: 0;
  }
}

// Responsive for smart phones
@media (max-width: 412px) {
  .index-date {
    display: none;
  }

  .wrapper .main {
    padding-left: 0;
    padding-right: 0;
  }

  .main {
    .content {
      .blog-content {
        margin-right: 0;

        article {
          .article-head h3, p {
            max-width: 100%;
          }
        }
      }
    }
  }
}