<div class="social-share" data-initialized="true" data-wechat-qrcode-title="分享文章">
    <% theme.share.forEach(function (media) { %>
        <a href="#" class="social-share-icon icon-<%- media %>"></a>
    <% }); %>
</div>