<div class="sidebar-bg"></div>
<div class="personal-info-wrapper">
    <div class="personal-info">
        <div class="avatar"></div>
        <p class="short-desc"><%- site.authorDescription %></p>
        <a class="total-post" title="查看所有文章">共计 <span class="post-number"><%- postNum %></span> 篇文章</a>
    </div>
</div>
